*{
    margin: 0;
}

html{
    background-color: #f4f4f2;
    color: #495464;
    font-family: 'Raleway',
    sans-serif;
}

body{
    display: flex;
    width: 100vw;
    box-sizing: border-box;
}

/* #region Aside/ Sidebar */
#sidebar{
    width: 13rem;
    box-shadow: 1px 0 2px 0 #bbbfca91;
    height: 100vh;
    padding: 1rem;
}

#site-title {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
}
#site-subtitle{
    font-weight: 300;
    display: block;
    /* word-spacing: 1px; */
    margin-top: -5px;
}
/* #endregion Sidebar */


/* #region main styling */
main{
    padding: 1.5rem;
    width: -webkit-fill-available;
}

#main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

/* __Search__ */
#search-cont {
    width: 80%;
    background: #bbbfca;
    padding: .75rem 1rem;
    border-radius: 15px;
    display: flex;
    align-items: center;
}
#search-vector {
        width: 20px;
        margin-right: 3px;
        opacity: .7;
        cursor: pointer;
}
#search-input{
    border: none;
    background: transparent;
    width: -webkit-fill-available;
    font-family: 'Raleway',
    sans-serif;
    font-weight: 300;
    font-size: 16px;
    outline: none;
}
/* __Search__ */

#login-btn{
    padding: .8rem 1rem;
    font-size: 16px;
    font-family: 'Raleway',
    sans-serif;
    margin-right: 2rem;
    background: #495464;
    color: #f4f4f2;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


/* #endregion main styling */


/* #region Footer / Player */
#player{
    position: absolute;
    bottom: 0;
    background: #e8e8e8;
}


#player-progress{
    width: 100vw;
    /* padding: 0; */
}


#player-controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 1rem;
    box-sizing: border-box;
}
#track-info-cont{
    display: flex;
    align-items: center;
}
.track-art{
    width: 50px;
    object-fit: contain;
    margin-right: 10px;
    border-radius: 5px;
}
.player-control-img{
    width: 30px;
    margin-right: 10px;
    opacity: .7;
}
#player-volume-controls-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* #endregion Footer / Player */




